.App {
  --app-primary-color: #89c6ed;
  --app-background-color: #fafafa;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 
    "header"
    "main";
  min-height: 100vh;
  width: 100%;
}

main {
  background: var(--app-background-color, lightgrey);
}
