header{
  background-color:var(--app-primary-color, lightblue);
  padding: 0 20px;
  color: var(--app-font-color, white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 30px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: lighter;
}

header a {
  text-decoration: none;
  color: inherit;
}


header a:hover, .active {
  font-weight: bold;
}

@media (min-width: 460px) {
  header {
    padding: 0 60px;
  }
  .menu li {
  }
}
